.header {
  border: #4400ee;
  background-color: #f7f5fd;
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 20px 0 10px 0;
}
.header .title {
  text-align:center;
}
.header .title .name {
  font-size:8.065vw;
  margin-bottom: 5px;
}
.header .title .position {
  font-size: 5.1612vw;
}
.header .nav {
  display: none;
}
.header .languages {
  display: flex;
  justify-content: center;
  margin-top:10px;
}
@media screen and (min-width:680px){
  .header {
    height: 100px;
    flex-direction:row;
    align-content:space-around;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #ccc;
  }
  .header .title {
    flex: 2;
    text-align:right;
  }
  .header .title .name {
    font-size: 30px;
    color: #1c1c1c;
  }
  .header .title .position {
    font-size: 18px;
  }

  .header .nav {
    flex: 3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header .languages {
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
  }

  li {
    list-style: none;
    margin: 15px 15px 0 15px;
  }

}
