button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  border-radius: 3px;
  text-align: center;
  display: block;
  padding: 0;
  width:50px;
  height: 20px;
  margin: 5px;
}

@media screen and (min-width:680px){
  button {
    width:6.6176vw;
    font-size:9px;
    padding: 7px 0;
  }
}
@media screen and (min-width:756px){
  button {
    width:50px;
    font-size:10px;
  }
}
button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

button:active {
  transform: translateY(1px);
}
