@media screen and (min-width:680px){
  .page-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
  }

  .greeting {
    font-size: 6.618vw;
    margin:0;
  }

  .about-me {
    font-size: 2.9411vw;
    margin: 8px 0 0 0;
  }

  .sub-text {
    flex-basis: 35%;
    display: flex;
    color: gray;
    width:80%;
    max-width:480px;
  }

  .links a div {
    display: flex;
    justify-content: center;
    width: 11.765vw;
    height: 11.765vw;
    border-radius: 50%;
    margin: 10px;
  }
}

@media screen and (min-width:710px){
  .title {
    flex-basis:16%;
  }
}
@media screen and (min-width:740px){
  .title {
    flex-basis:16%;
  }
}
@media screen and (min-width:770px){
  .title {
    flex-basis:17%;
  }
}
@media screen and (min-width:800px){
  .title {
    flex-basis:18%;
  }
}
@media screen and (min-width:830px){
  .title {
    flex-basis:19%;
  }
}
@media screen and (min-width:850px){
  .links a div {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width:870px){
  .title {
    flex-basis:20%;
  }
}
@media screen and (min-width:907px){
  .greeting {
    font-size: 60px;
  }
}
@media screen and (min-width:1020px){
  .about-me {
    font-size: 30px;
  }
  .links a div {
    margin: 15px;
  }
}

.links {
  display: flex;
  flex-basis: 20%;

}
.links a {
  cursor: pointer;
  margin: auto 0;
}

.links a div p {
  margin: auto;
  color: white;
  text-align: center;
}

.sub-text h3 {
    margin: 0;
}
